<div class="container">
  <br>
  <h3>Request Header Parser Microservice</h3>
  <br>
  <p>IP Address: {{ipaddress}}</p>
  <p>Language: {{language}}</p>
  <p>Software: {{software}}</p>
  <hr>
  <a href="/api">API</a>
</div>
